/*
============================
Name: Vexon - Modern Blog Template 
Version: 2.0.0
Description: Vexon - Modern Blog Template 
Author: AliThemes
Author URI: https://themeforest.net/user/aliThemes
Location: 
============================
*/